{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
      <p>
        {% trans %}The Data Hub combines the ability to find data and to open 
        computational notebooks to analyse, explore and model data to create 
        meaningful outcomes.
        {% endtrans %}
      </p>
    {% endif %}
  </header>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      <h2 class="media-heading">{% block home_image_caption %}{{ _("Barplot matrices of summer water quality testing") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="{{ h.url_for_static('water_quality_notebook2.png') }}" alt="Placeholder" width="420" height="220" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>